
body{
     margin:0;
     padding:0;
     background-image:url("bg-pic.jpg" );
     height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        
        
 }
header h3{
     text-align: center;
     padding :10px 200px;
}
.header{
 display:flex;
 align-items:center;
}
 header {
         
     align-items: right;
     background: linear-gradient(90deg, rgb(14, 163, 222), rgb(0, 100, 200));
     
     color: white;
    padding:10px;
    color:white;
 }
 nav{
     color:white;
     text-align: right;

 }
  nav a{
     color:white;
     padding:10px 15px;
     font-size: 25px;
     text-decoration: none;
     border-radius: 5px;
     

 }
 a:hover{
     background-color: white;
     color:blue;
 }
 img{
    align-items:left;

}  

